<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<head>
    <title>User editing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body sec:authorize="hasRole('ADMIN')">

<header th:insert="blocks/header-admin :: header-admin"></header>

<div class="container mt-5 mb-5">
    <h1>User editing</h1><br>
    <div>
        <form th:action="'/users/' + ${user.getUsername()} + '/edit'" th:object="${user}" method="post">
            <input type="text" th:value="${user.getUsername()}" name="username" th:field="*{username}"
                   placeholder="Enter a username" class="form-control"><br>
            <input type="text" th:value="${user.getPassword()}" name="password" th:field="*{password}"
                   placeholder="Enter password" class="form-control"><br>
            <input type="text" th:value="${user.getEnabled()}" name="enabled" th:field="*{enabled}"
                   placeholder="Enter an enabled" class="form-control"><br>
            <input type="text" th:value="${user.getName()}" name="name" th:field="*{name}"
                   placeholder="Enter a name of the human" class="form-control"><br>
            <input type="text" th:value="${user.getSurname()}" name="surname" th:field="*{surname}"
                   placeholder="Enter a surname of the human" class="form-control"><br>
            <input type="text" th:value="${user.getEmail()}" name="email" th:field="*{email}"
                   placeholder="Enter a surname of the human" class="form-control"><br>
            <input type="text" th:value="${authorities}" name="authority"
                   placeholder="Enter an authority" class="form-control"><br>

<!--            <select name="authority" required="required" multiple="multiple">-->
<!--                <option disabled>Select a role(s)</option>-->
<!--                <option value="ROLE_WRITER">Writer</option>-->
<!--                <option value="ROLE_READER">Reader</option>-->
<!--                <option value="ROLE_ADMIN">Admin</option>-->
<!--            </select><br><br>-->

            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>